@import '../../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Inter';
  src: url('../assets/inter.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-background: #eff1f5;
  --color-text: #4c4f69;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
