@import '../../node_modules/modern-normalize/modern-normalize.css';

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/inter.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

:root {
  --color-background: #eff1f5;
  --color-overlay: #ccd0da;
  --color-text: #4c4f69;
  --color-primary: #40a02b;
  --spacing: 0.25rem;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: calc(var(--spacing) * 4);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0 calc(var(--spacing) * 6);
}

h2 {
  padding: calc(var(--spacing) * 3);
  margin-top: calc(var(--spacing) * 6);
  margin-bottom: calc(var(--spacing) * 3);

  background-image: linear-gradient(
    to right in oklab,
    var(--color-primary),
    color-mix(in oklab, var(--color-primary), var(--color-text) 20%)
  );
  color: var(--color-background);
  border-radius: calc(var(--spacing) * 6);
  border-bottom-left-radius: 0;
  display: inline-block;

  font-size: calc(var(--spacing) * 5);
  font-weight: bold;
}

h3 {
  margin-bottom: calc(var(--spacing) * 4);
  font-size: calc(var(--spacing) * 4);
  font-weight: 500;
}

p {
  margin-bottom: calc(var(--spacing) * 2);
  line-height: 1.5;
}

.skill-box {
  background-color: var(--color-overlay);
  padding: calc(var(--spacing) * 3);
  border: 2px solid
    color-mix(in oklab, var(--color-text) 5%, var(--color-overlay));
  margin-bottom: calc(var(--spacing) * 2);
}

ul.skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 2);
}

ul.skills li {
  background-color: var(--color-background);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 1rem;
  box-shadow: 0 2px 4px
    color-mix(in oklab, var(--color-text) 10%, var(--color-overlay));
}

ul.skills li:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
  cursor: default;
  box-shadow: 0 4px 8px
    color-mix(in oklab, var(--color-primary) 20%, var(--color-overlay));
}
