@import '../../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Inter';
  src: url('../assets/inter.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
}
