@import '../../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Inter';
  src: url('../assets/inter.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

:root {
  --color-background: #eff1f5;
  --color-overlay: #ccd0da;
  --color-text: #4c4f69;
  --color-primary: #40a02b;
  --spacing: 0.25rem;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: calc(var(--spacing) * 4);
}

h2 {
  padding: calc(var(--spacing) * 3);
  margin-top: 0;
  margin-bottom: calc(var(--spacing) * 4);

  background-image: linear-gradient(
    to right in oklab,
    var(--color-primary),
    color-mix(in oklab, var(--color-primary), var(--color-text) 20%)
  );
  color: var(--color-background);
  border-radius: calc(var(--spacing) * 3);
  border-bottom-left-radius: 0;
  display: inline-block;

  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: calc(var(--spacing) * 4);
  line-height: 1.5;
}

.skill-box {
  background-color: var(--color-overlay);
  padding: calc(var(--spacing) * 3);
  border: 2px solid
    color-mix(in oklab, var(--color-text), var(--color-background) 75%);
  margin-bottom: calc(var(--spacing) * 4);
}
