@import '../node_modules/modern-normalize/modern-normalize.css';

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/inter.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

:root {
  --color-background: #eff1f5;
  --color-overlay: #dce0e8;
  --color-overlay-dark: #ccd0da;
  --color-text: #4c4f69;
  --color-primary: #179299;
  --color-border: color-mix(
    in oklab,
    var(--color-text) 10%,
    var(--color-overlay)
  );
  --color-border-dark: color-mix(
    in oklab,
    var(--color-text) 10%,
    var(--color-overlay-dark)
  );
  --spacing: 0.25rem;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: calc(var(--spacing) * 4);
  background-color: var(--color-background);
  color: var(--color-text);
}

main > div {
  max-width: 65ch;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing) * 5);
  background-color: var(--color-overlay);
  border-bottom: 1px solid var(--color-border);
  padding-top: calc(var(--spacing) * 6);
}

header > .intro {
  display: flex;
  align-items: center;
}

header > .intro > img {
  width: calc(var(--spacing) * 30);
  height: calc(var(--spacing) * 30);
  border-radius: 50%;
  display: block;
  border: 4px solid
    color-mix(in oklab, var(--color-primary) 25%, var(--color-overlay));
  margin-right: calc(var(--spacing) * 6);
}

.delete {
  text-decoration: line-through;
  color: color-mix(in oklab, var(--color-text) 30%, var(--color-overlay));
}

.bold {
  font-weight: bold;
}

nav {
  margin-bottom: calc(var(--spacing) * 6);
  text-align: center;
}

nav a {
  text-decoration: none;
  color: var(--color-text);
  margin: 0 calc(var(--spacing) * 1);
  font-weight: 500;
  display: inline-block;
  background-color: var(--color-overlay-dark);
  padding: calc(var(--spacing) * 2);
  border: 2px solid var(--color-border-dark);
  border-radius: calc(var(--spacing) * 2);
}

nav a:hover {
  border-color: color-mix(
    in oklab,
    var(--color-primary) 40%,
    var(--color-overlay)
  );
  color: var(--color-primary);
}

nav a svg {
  width: calc(var(--spacing) * 6);
  height: calc(var(--spacing) * 6);
  vertical-align: middle;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

h2,
.bubble {
  background-image: linear-gradient(
    to right in oklab,
    var(--color-primary),
    color-mix(in oklab, var(--color-primary), var(--color-background) 20%)
  );
  color: var(--color-background);
  border-radius: calc(var(--spacing) * 6);
  border-bottom-left-radius: 0;
  display: inline-block;
}

.bubble {
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
  font-size: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 1);
}

h2 {
  padding: calc(var(--spacing) * 3);

  margin-top: calc(var(--spacing) * 6);
  margin-bottom: calc(var(--spacing) * 3);

  font-size: calc(var(--spacing) * 4);
  font-weight: 800;
}

h3 {
  margin-bottom: calc(var(--spacing) * 4);
  font-size: calc(var(--spacing) * 4);
  font-weight: 500;
}

p {
  margin-bottom: calc(var(--spacing) * 2);
  line-height: 1.5;
}

.skill-box {
  background-color: var(--color-overlay);
  padding: calc(var(--spacing) * 3);
  border: 2px solid var(--color-border);
  margin-bottom: calc(var(--spacing) * 2);
}

ul.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 2);
}

.stations ul.tags {
  margin-bottom: calc(var(--spacing) * 6);
  margin-top: calc(var(--spacing) * 4);
}

ul.tags li {
  background-color: var(--color-overlay);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px
    color-mix(in oklab, var(--color-text) 10%, var(--color-overlay));
}

.skill-box ul.tags li {
  background-color: var(--color-background);
}

.stations ul.tags > li {
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
  font-size: 0.75rem;
  border-radius: 0.75rem;
}

ul.tags li:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
  cursor: default;
  box-shadow: 0 4px 8px
    color-mix(in oklab, var(--color-primary) 20%, var(--color-overlay));
}

.stations {
  border-left: 2px solid var(--color-primary);
  padding-left: calc(var(--spacing) * 6);
  margin-left: calc(var(--spacing) * 3);
}

.station h3:before {
  display: inline-block;
  content: '';

  width: calc(var(--spacing) * 3);
  height: calc(var(--spacing) * 3);

  position: relative;
  left: calc(var(--spacing) * -4.75);

  border-radius: 50%;
  border: 2px solid var(--color-primary);
  background-color: var(--color-background);
}

.station h3 {
  position: relative;
  left: calc(var(--spacing) * -3);
  color: var(--color-primary);
}

.station > hgroup,
.station > h3 {
  margin-bottom: calc(var(--spacing) * 4);
}

.station hgroup * {
  font-weight: bold;
  margin-bottom: calc(var(--spacing) * 1);
}

.station hgroup p:nth-child(3) {
  font-weight: 500;
}

.station {
  margin-bottom: calc(var(--spacing) * 8);
}

footer {
  text-align: center;
  padding: calc(var(--spacing) * 6);
  border-top: 1px solid var(--color-border);
  background-color: var(--color-overlay);
  margin-top: calc(var(--spacing) * 6);
  color: color-mix(in oklab, var(--color-text) 50%, var(--color-overlay));
  font-size: calc(var(--spacing) * 3);
}

footer a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
}

@media screen and (max-width: 512px) {
  nav a span {
    display: none;
  }

  header > .intro {
    flex-direction: column;
    text-align: center;
  }

  header > .intro > img {
    margin-right: 0;
    margin-bottom: calc(var(--spacing) * 4);
  }

  main > div {
    padding: 0 calc(var(--spacing) * 6);
  }
}
